.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.band {
  display: flex;
  flex-direction: column;
}

.band-title {
  margin-left: 20px;
}

.band-releases {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.release {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

img {
  width: auto;
  max-height: 250px;
}

span {
  align-self: center;
}
